---
import Image from 'astro/components/Image.astro'
import GeneralLayout from '../layouts/GeneralLayout.astro'
import type { ICaseCard } from '../components/CaseCard.astro'
import CaseCard from '../components/CaseCard.astro'
import Photo from '../../public/images/photo.jpeg'

const cases: ICaseCard[] = [
	{
		title: 'Project Brew',
		link: '/',
		chips: ['Smart Brew', 'WEB']
	},
	{
		title: 'Scribe',
		link: '/',
		chips: ['Education Tech', 'AI', 'Mobile']
	},
	{
		title: 'UI Animation',
		link: '/',
		chips: ['Course']
	},
	{
		title: 'Brawny',
		link: '/',
		chips: ['Fit Tech', 'Mobile']
	},
	{
		title: 'Project Surgery',
		link: '/',
		chips: ['Health Tech', 'WEB', 'AR']
	}
]
---

<GeneralLayout title="Home" bgClass="bg-white" theme="light">
	<div class="container flex w-full flex-col gap-30 py-30">
		<section class="flex">
			<div class="flex h-[100px] w-[100px] overflow-hidden rounded-[20px]">
				<Image
					src={Photo}
					alt="Piotr Zialinski"
					title="Piotr Zialinski"
					class="max-h-full max-w-full translate-y-2 scale-200 -scale-x-200 object-cover"
				/>
			</div>
		</section>
		<section class="flex flex-col gap-10">
			<h3 class="text-title-3-light">
				Hello! I’m Piotr Zialinski, a UX/Product Designer focused on creating impactful experiences.
			</h3>

			<span>
				<a href="/cv/" target="_self" class="cursor-pointer text-title-3-light underline">View CV</a>
			</span>
		</section>

		<section class="grid grid-cols-1 gap-5 md:grid-cols-2">
			{
				cases.map(({ title, chips, link }) => {
					return <CaseCard chips={chips} link={link} title={title} />
				})
			}
		</section>
	</div>
</GeneralLayout>
