---
interface Props {
	chip: string
	theme: 'light' | 'dark'
}

const { chip, theme } = Astro.props
---

<span
	class="flex items-center justify-center rounded-20 border px-3 py-1.5 transition"
	class:list={[
		{ 'border-dark-grey-2 text-dark-grey-2': theme === 'light' },
		{ 'border-white text-white': theme === 'dark' }
	]}
>
	{chip}
</span>
