---

---

<footer class="bor border-dark-grey-2 container w-full border-t border-opacity-10 py-5 opacity-75">
	<span class="text-description-2-regular"> Copyright © 2024 Piotr Zialinski. All rights reserved. </span>
</footer>
