---
import ButtonLink from './ButtonLink.astro'
interface Props {
	theme: 'dark' | 'light'
	color: string
}

const { theme, color } = Astro.props

const gradient = `from-${color} to-${color}/0`
---

<header
	class="sticky bottom-0 left-0 flex h-[100px] w-full justify-center bg-gradient-to-t md:top-0 md:bg-none"
	class:list={[gradient]}
>
	<div class="invisible absolute flex h-1 w-full bg-black bg-opacity-10 md:visible">
		<div id="progressBar" class="progress-bar h-full w-0 items-center bg-dark-grey-2"></div>
	</div>
	<div class="flex w-full max-w-[1240px] items-center justify-between px-5">
		<ButtonLink link="/" theme={theme} title="Home" />
		<div class="flex gap-4">
			<slot />
		</div>
	</div>
</header>

<script>
	window.addEventListener('scroll', () => {
		const progressBar = document.getElementById('progressBar')
		if (!progressBar) return
		const scrollTop = window.scrollY
		const windowHeight = document.documentElement.scrollHeight - window.innerHeight
		const scrollPercentage = (scrollTop / windowHeight) * 100
		progressBar.style.width = scrollPercentage + '%'
	})
</script>
