---
import Footer from '../components/Footer.astro'

interface Props {
	title: string
	bgClass: string
	theme: 'light' | 'dark'
}

const { title, bgClass, theme } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/icons/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex min-h-screen w-full flex-col items-center justify-between overflow-y-auto" class:list={[bgClass]}>
		<main class="flex w-full flex-1 flex-col-reverse items-center md:flex-col">
			<slot />
		</main>
		<Footer theme={theme} />
	</body>
</html>

<style is:global>
	@import '../../public/styles/styles.css';
</style>
